body {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

#pageTitle {
    margin: 30px 0px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
}

#menu {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.menuItem {
    padding: 10px;
    display: inline;
}

.projectCard {
    padding: 10px;
}

.tileImage {
    width: 100%;
    cursor: pointer;
}

.project {
    text-align: center;
}

.projectDescription {
    width: 80%;
    margin-left: 10%;
}

.projectContent {
    width: 90%;
    margin-left: 5%;
}

.contactTitle {
    text-align: center;
}

.contactForm {
    width: 40%;
    margin-left: 30%;
}

.form-control {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 35%;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    padding: 10px 0px 5px;
    width: 30%;
}

.socialMediaLink {
    margin-left: 10px;
    width: 25px;
    float: right;
}
